.container {
  min-height: calc(100vh - 112px);
  text-align: center;

  table {
    td {
      vertical-align: middle;
      font-family: "Tajawal", sans-serif !important;
      text-align: center;

      span {
        font-family: "Tajawal", sans-serif !important;
      }
    }

    th {
      font-weight: bold;
      text-align: center;
    }

    a {
      text-decoration: none;
    }
  }
}

@media (max-width: 600px) {
  .container {
    min-height: calc(100vh - 104px);
  }
}
